/* Basic styles */
body {
    margin: 0;
    padding: 0;
    background-color: #ff7e14; /* Orange background */
    color: #000000; /* White text */
    font-family: "Trirong", serif;
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #fff,
        0 0 10px #ff1e00,
        0 0 20px #ff1e00,
        0 0 30px #ff1e00,
        0 0 40px #ff1e00,
        0 0 55px #ff1e00,
        0 0 70px #fff;
}

header, footer {
    background-color: #e0ca00; /* Darker orange */
    padding: 10px;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
    display: flex; /* Flexbox */
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center content horizontally */
    font-size: 15px;
}

section {
    margin-bottom: 30px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: #f0932b; /* Darker orange */
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d35400; /* Lighter orange on hover */
}

/* Flexbox for array items */
#array-items {
    display: flex;
    flex-wrap: wrap; /* Wrap items to the next row */
}

.array-item {
    background-color: #f0932b; /* Darker orange */
    color: #fff;
    padding: 10px;
    margin: 5px;
} 

a{
    color: black;
    text-shadow: 2px 2px #FF0000;
    border: 2px solid #ffa666;
    background: #ff8e3d;
}
img{
    width: 500px;
}
li, p {
    border: 5px solid black;
    background: #e0ca00;
    color: black;

}